*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
text-align: center;
background-color: #282c34;
min-height: 100vh;
display: flex;
justify-content: center;
}

.card{
  padding: 1rem;
  height: auto;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border: 5px solid purple;
  background-color: white;
  flex-direction: column;
  border-radius: 15px;
}

img{
  width: 60%;
  height: 60%;
}

h3,
h1{
  margin-top: 1rem;
  color: purple;
}

p{
margin-top: 1rem;
}

img{
  margin-top: 1rem;
}